<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1 style="margin-top: 6em;">Deseja entrar em contato?</h1>

    <%- include('partials/footer.ejs') %>
</body>
