<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="container py-5">
                <div class="row pb-5 mb-4">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/1" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/vestido.png" alt="vestido"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5><strong>R$70,00</strong></h5>
                                    <hr style="color: black;">
                                    <h6>Vestido</h6>
                                    <p class="small text-muted font-italic">No cartão R$80,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/2" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/croppedcasaquinho.png" alt="Cropped casaquinho"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$50,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Cropped casaquinho</h6>
                                    <p class="small text-muted font-italic">No cartão R$60,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/3" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/croppedmoletom.png" alt="Cropped moletom"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$65,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Cropped moletom</h6>
                                    <p class="small text-muted font-italic">No cartão R$75,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/4" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/croppedtraçado.png" alt="Cropped traçado"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$44,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Cropped traçado</h6>
                                    <p class="small text-muted font-italic">No cartão R$49,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pb-5 mb-4">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/5" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/croppedmangalonga.png" alt="Cropped manga longa"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$49,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Cropped manga longa</h6>
                                    <p class="small text-muted font-italic">No cartão R$54,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/6" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/croppedgola.png" alt="Cropped gola"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$35,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Cropped gola</h6>
                                    <p class="small text-muted font-italic">No cartão R$40,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/7" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/Cropped.png" alt="Cropped"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$45,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Cropped</h6>
                                    <p class="small text-muted font-italic">No cartão R$50,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/8" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/vestidomoletom.png" alt="Vestido moletom"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$95,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Vestido moletom</h6>
                                    <p class="small text-muted font-italic">No cartão R$105,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pb-5 mb-4">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/9" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/cortavento.png" alt="Corta vento"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$95,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Corta vento</h6>
                                    <p class="small text-muted font-italic">No cartão R$105,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/10" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/parca.png" alt="Parca"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$80,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Parca</h6>
                                    <p class="small text-muted font-italic">No cartão R$90,00</p>
                                    <p class="small text-muted font-italic">Tamanhos:P,M,G </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/11" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/conjuntooakley.png" alt="Conjunto Oakley"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$125,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Conjunto Oakley top+leg</h6>
                                    <p class="small text-muted font-italic">No cartão R$145,00</p>
                                    <p class="small text-muted font-italic">Tamanho leg: P,M,G </p>
                                    <p class="small text-muted font-italic">Tamanho top: Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/12" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/conjuntosaia_cropped.png" alt="Conjunto saia + cropped"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$130,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Conjunto saia + cropped</h6>
                                    <p class="small text-muted font-italic">No cartão R$140,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pb-5 mb-4">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/13" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/body.png" alt="Body" class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$45,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Body</h6>
                                    <p class="small text-muted font-italic">No cartão R$55,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/14" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/vestidomg.png" alt="Vestido Maria Gueixa"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$70,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Vestido Maria Gueixa</h6>
                                    <p class="small text-muted font-italic">No cartão R$80,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/15" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/croppedbubu.png" alt="Cropped BuBu"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$50,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Cropped BuBu</h6>
                                    <p class="small text-muted font-italic">No cartão R$55,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/16" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/croppedsalepimenta.png" alt="Cropped Sal e Pimenta"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$38,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Cropped Sal e Pimenta</h6>
                                    <p class="small text-muted font-italic">No cartão R$42,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pb-5 mb-4">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/17" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/vestidodebotao.png" alt="Vestido de botão"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5><strong>R$80,00</strong></h5>
                                    <hr style="color: black;">
                                    <h6>Vestido de botão</h6>
                                    <p class="small text-muted font-italic">No cartão R$90,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/18" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/saialongaanimal.png" alt="Saia longa animal"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$85,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Saia longa animal</h6>
                                    <p class="small text-muted font-italic">No cartão R$95,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/19" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/conjuntomg.png" alt="Conjunto MG"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$60,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Conjunto MG</h6>
                                    <p class="small text-muted font-italic">No cartão R$70,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/20" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/babylook.png" alt="Baby look"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$45,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Baby look</h6>
                                    <p class="small text-muted font-italic">No cartão R$50,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pb-5 mb-4">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/21" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/camisadetime.png" alt="Camisa de time"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5><strong>R$50,00</strong></h5>
                                    <hr style="color: black;">
                                    <h6>Camisa de time</h6>
                                    <p class="small text-muted font-italic">No cartão R$55,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/22" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/croppedlabellamafia.png" alt="Cropped La Bella"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$45,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Cropped La Bella</h6>
                                    <p class="small text-muted font-italic">No cartão R$55,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/23" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/blusabrilho.png" alt="Blusa brilho"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$50,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Blusa brilho</h6>
                                    <p class="small text-muted font-italic">No cartão R$55,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/24" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/bodys.png" alt="Bodys"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$50,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Bodys</h6>
                                    <p class="small text-muted font-italic">No cartão R$55,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pb-5 mb-4">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/25" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/legoakley.png" alt="Leg Oakley"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5><strong>R$75,00</strong></h5>
                                    <hr style="color: black;">
                                    <h6>Leg Oakley</h6>
                                    <p class="small text-muted font-italic">No cartão R$85,00</p>
                                    <p class="small text-muted font-italic">Tamanhos:P,M,G</p>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/26" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/topfaixaliso.png" alt="Top faixa liso"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$45,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Top faixa liso</h6>
                                    <p class="small text-muted font-italic">No cartão R$55,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/27" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/vestidotubinho.png" alt="Vestido tubinho"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$50,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Vestido tubinho</h6>
                                    <p class="small text-muted font-italic">No cartão R$55,00</p>
                                    <p class="small text-muted font-italic">Tamanho Único </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <a href="/detalhes/28" style="text-decoration: none;">
                            <!-- Card-->
                            <div class="card rounded shadow-sm border-0">
                                <div class="card-body p-4">
                                    <img src="img/produtos/saiasty.png" alt="Saia Sty"
                                        class="img-fluid d-block mx-auto mb-3">

                                    <h5> <strong>R$60,00</strong> </h5>
                                    <hr style="color: black;">
                                    <h6>Saia Sty</h6>
                                    <p class="small text-muted font-italic">No cartão R$70,00</p>
                                    <p class="small text-muted font-italic">Tamanhos: 36,38,40,42,44</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>


            <style>
                @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap%27');

                body {
                    min-height: 100vh;
                    background: #fafafa;
                }

                h5 strong {
                    font-size: 2.5em;
                    font-family: 'Kaushan Script', cursive;
                }

                h6 {
                    font-size: 2em;

                }

                .small {
                    font-size: 20px;
                }
            </style>

            <%- include('partials/footer.ejs') %>
    </body>